html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d0000;
}

canvas {
  display: block;
}

.caixa {
  background-color: black;
}
.titulo{
  color:aliceblue;
  text-align: center;
}
.caixa-do-jogo{
  display: flex;
  justify-content : center;
}
